<html>
  <head>
    <title>Reviewboard Dashboard</title>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
		<div class="container page pagination-centered">
			<div class='hero-unit'>
				<h2>Reviewboard Dashboard!</h2>
			</div>
			<div>
				<a href={{ url_for('bust_cache') }}>Bust cache</a>
			</div>
			{% for user, review_requests in reviewboard_stats|dictsort %}
				<h3>{{ user }}</h3>
				<table class="table table-hover">
					<tr>
						<td>Id</td>
						<td>Submitter</td>
						<td>Reviewers</td>
						<td>Summary</td>
						<td>Primary Reviewer</td>
					</tr>
					{% for review_request in review_requests %}
						<tr>
							<td>
								<a href={{ review_url_generator(review_request.id) }}>{{ review_request.id }}</a>
							</td>
							<td>{{ review_request.submitter }}</td>
							<td>{{ ", ".join(sorted(review_request.reviewers)) }}</td>
							<td>{{ review_request.summary }}</td>
							<td>{{ review_request.primary_reviewer }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endfor %}
		</div>
  </body>
</html>
